<%= form_for(@blog) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "投稿しよう", autofocus:"true", class:"form-control" %>
  </div>
  <%= f.submit "投稿する", class:"btn btn-primary withripple"%>
<% end %>


<%= paginate(@blogs) %>
<% @blogs.each do |blog| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= blog.id %>: <%= link_to blog.body, "/blogs/#{blog.id}", method: :get %>
    </div>
    <div class="panel-body">
      <%= link_to 'いいね', action: 'like', controller: 'blogs', id: blog.id %> : <%= blog.like %> | コメント: <%= blog.replies.count %> | 投稿日時:
      <%= blog.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  </div>
<% end %>
<%= paginate(@blogs) %>
